<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projeto_Financeiro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Pagina_Inicial.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto_Financeiro.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="topo">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-rgb(7, 33, 52); border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" >
                    <img src="https://static.wixstatic.com/media/4f6528_de9f45264fe846e689eff6b203933f1b~mv2.png/v1/crop/x_0,y_174,w_500,h_151/fill/w_225,h_65,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logotipo%20Finaneiero.png" alt="Logotipo Finaneiero.png" 
                    style="width:225px;height:65px;object-fit:cover" width="225" height="65" 
            
                    srcset="https://static.wixstatic.com/media/4f6528_de9f45264fe846e689eff6b203933f1b~mv2.png/v1/crop/x_0,y_174,w_500,h_151/fill/w_225,h_65,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Logotipo%20Finaneiero.png"
                    fetchpriority="high">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white"  asp-area="" asp-controller="Home" asp-action="Pagina_Inicial">Pagina Inicial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="O_que_fazemos">O que fazemos</a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Quem_sou_eu">Quem sou eu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Serviços">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contato">Contato</a>
                        </li
                    </ul><img src="~/seta3.jpg" alt="imagem seta3" class="imgseta3" />
                <img src="~/lan1.png" alt="imagem lan1" class="imglan1" />
                </div>
            </div>
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body> <br />
<br />
<br />
<footer class=""><p>&copy; 2024 Facilita Finanças</p></footer>
</html>
