@{
    ViewData["Title"] = "Contato";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
 
    <meta charset="UTF-8">
    <title>Facilita Finanças</title>
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    
    <header>
        <h1>Como podemos te ajudar?</h1>
    </header>
     <main>
        <section id="contato">
            <h2>Conheça mais e deixe uma assistente cuidar da saúde da sua empresa&nbsp;</h2>
          <h2>Aguardo o seu contato. <br />
            Preencha o formulário ou contate-me pelo telefone, WhatsApp ou e-mail abaixo.</h2>
            <p>(11)91245-4545</p>
            <p>valdineipaiva@gmail.com</p>
        </section>
    </main>
    <br />
    <br />
    <footer id="logo">
        <a href="https://api.whatsapp.com/send/?phone=5511998376109&amp" target="_blank" rel="noopener noreferrer">
            <img src="~/whatsApp.png" alt="imagem  whatsApp" class="imgwhatsApp">
                    <a href="https://www.instagram.com/valdineiapaiva.financas" target="_blank" rel="noopener noreferrer">
                <img src="~/instagram.png" alt="imagem instagram" class="imginstagram">
    </footer>

      
    </section>
</body>
</html>