@{
    ViewData["Title"] = "O que fazemos";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - O que fazemos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Pagina_Inicial.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Projeto_Financeiro.styles.css" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>O que fazemos</h1>

    </header>

    <main>
        <section id= "contato que fazemos">
            <h2>Você perde muito tempo na gestão de sua empresa e ainda não tem resultados?</h2>

            <p>Se sua resposta for sim, está na pagina certa. Vamos em busca de organizar seu financeiro
                em busca de uma visão mais clara , saberá se lucra tanto quanto gasta, terá números para
                tomadas de decisão, e assim ter flexibilidade e mais tempo para gerenciar a sua empresa, 
                em busca de melhores resultados. </p>

            <ul>
                
                <li>Como separar os gastos pessoais dos gastos da empresa</li>
                <li>Seu negócio tem planejamento financeiro?</li>
                <li>Como controla o fluxo de caixa da empresa para mantê-lo saudável?</li>
                <li>O que é pró-labore?</li>
            </ul>
            <img src=~/OqueFazemos.jpg alt="imagem oquefazemos" class="imgoquefazemos" />
            <p class="texto"> Na facilita Finanças Cuidamos de todas as rotinas financeiras de sua empresa,
                desde as contas a pagar, até o controle detalhado de suas finanças.</p>

            <p class="texto">Muito mais do que a terceirização dos serviços financeiros,
                garantindo total segurança e agilidade de suas finanças.</p>

            <p class="texto">Esse conceito de prestação de serviço é denominado pela abreviação BPO, de Business Process Outsourcing,
                que em português quer dizer terceirização de processos de um negócio.</p>

            <ul>
                <li>Agilidade e transparência</li>
                <li>Eficiência</li>
                <li>Atividades remotas</li>
            </ul>

            <p>Cuidamos de todas as rotinas financeiras de sua empresa, 
                desde as contas a pagar, até o controle detalhado de suas finanças.</p>
            
        </section>
        </main>
</body>
</html>