@{
    ViewData["Title"] = "Quem sou eu";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <meta charset="UTF-8">
    <title>Facilita Finanças</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <header>
        <h1>Quem sou eu</h1>

    </header>

<section id="Quem sou eu">
        <img src=~/Neia1.jpg alt="imagem 1" class="img1" />
        <div class="col-xs-12", class="col-lg-3"></div>

        <p>Sou Valdineia Paiva, formada em Gestão Financeira pela Instituição Unip Marques de São Vicente</p>

    <p>
        Com mais de 15 anos de experiência no mundo corporativo exercendo atividades no ramo Financeiro,
        administrativo, gestão empresarial, atendimento ao cliente, faturamento e recursos humanos.
        Nesse período, percebi grande dificuldade dos Empresários para organizar sua Vida Financeira
    </p>

    Formação
    <ul>
        <li>Pós Graduação Educação Financeira</li>
        <li>Gestão Financeira</li>
        <li>Assitente Financeiro</li>
        <li>Administração</li>
        <li>RH</li>
    </ul>
</section>
</body>
</html>
