@{
    ViewData["Title"] = "Serviços";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

    <meta charset="UTF-8">
    <title>Facilita Finanças</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="text-center">
    <h1>Serviços</h1>
</div>

    <h2>Como fazemos a operação dos serviços financeiros em sua empresa?</h2>
<section id="Principais serviços">
    <h2>Principais serviços</h2>

    <p>
        Trabalho virtual, acessos por aplicativos, com a máxima confidencialidade e segurança 
        te ajudar a assumir o controle financeiro de sua empresa, transformando a gestão do 
        seu negócio, trazendo mais liberdade, flexibilidade, mais tempo para seu negócio, 
        como posso te ajudar com os serviços abaixo? podem ser todos ou alguns deles, de acordo da necessidade da empresa.
    </p>
    <p>
            <img src=~/calendario.jpg alt="imagem calendario" class="imgcalendario" />
        <ul>
            Planejamento
            <li>Diagnóstico do planejamento Estratégico</li>
            <li>Organizamos o seu processo Financeiro</li>
            <li>Registramos e Controlamos as contas a pagar e receber</li>
        </ul>
    </p>

    <p>
            <img src=~/cartao.jpg alt="imagem cartao" class="imgcartao" />
        <ul>
            Contas a receber e a pagar
            <li>Emissão de Nfs e envio para seus clientes</li>
            <li>Emissão de boletos e envio para seus clientes</li>
            <li>Conciliação bancaria</li>
            <li>Se desejar, nós agendamos seus pagamentos no intern</li>
        </ul>
    </p>

    <p>
            <img src=~/lupa.jpg alt="imagem lupa" class="imglupa" />
        <ul>
            Monitoramento
            <li>Fluxo de caixa</li>
            <li>Relatório de clientes inadimplentes</li>
            <li>Relatório de contas atrasadas</li>
            <li>Relatório financeiro</li>
        </ul>
    </p>
</section>
</body>
</html>